{% extends 'base/two-column-base.html' %}
{% block title %}Edit Profile | Dungeon World Codex{% endblock title %}
{% block left %}

	{% if user %}
		{% if not profile %}
			<h1>Welcome!</h1>
			<p>It looks like you're new here. Let's setup a profile for you.</p>
		{% endif %}
		<form method="post">
			<h3>Display Name: <input name="display_name" width="200px" required type="text" value="{% if profile %}{{ profile.display_name }}{% endif %}" autocomplete="off"/></h3>
			<p>This is the name what will be shown on monsters you create.</p>
			<input type="submit" value="Save">
		</form>
		{% if profile %}
			<h1>Products</h1>
			<ul>
			{% for product in profile.get_products() %}
				<li>{{ product.name }}</li>
			{% endfor %}
			</ul>
			{% if profile.is_publisher %}
				<h1>Published Products</h1>
				{% for product in profile.get_published_products() %}
					<h3><a href="{{ format_urls['product'] | format(product.key().id()) | replace(" ", "") }}">{{ product.name }}</a></h3>
					<script>
						$(document).ready(function () {
							var value = window.location.origin + "{{ format_urls['profile.add'] | format(product.access_code) | replace(" ", "") }}";
							$('#access_code').val(value);
						});
					</script>
					<p><strong>Access Link:</strong> <input type="text" id="access_code" readonly>
				{% endfor %}
				<h2><a href="{{ common_urls['product_create_url'] }}">Create a Product</a></h2>
			{% endif %}
		{% endif %}
	{% else %}
		<h1>Login Required</h1>
		<p>You have to <a href="{{ login_url }}">login</a> before you can edit your profile, boss.</p>
	{% endif %}
{% endblock left %}