{% import 'macros/monster.html' as statblocks %}
{% extends 'base/two-column-base.html' %}
{% block title %}Favorites | Dungeon World Codex{% endblock title %}
{% block left %}
	<h1>My Favorites</h1>
    {% for favorite in favorites %}
		{{ statblocks.statblock(favorite.monster, format_urls) }}
    {% endfor %}
	<h3>{% if less %}<a href="/favorites?c={{ cursor }}&amp;prev=1">&lt;Previous</a> {% endif %}{% if more %}<a href="/favorites?c={{ cursor }}">Next&gt;</a>{% endif %}</p>
{% endblock left %}

