{% import 'macros/header.html' as header %}
{% import 'macros/menu.html' as mainmenu %}
<html>
  <head>
	{% block head %}
    <title>{% block title %}{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    {% endblock head %}
  </head>
  <body>
	{{ header.header() }}
	<div id="wrap">
		{{ mainmenu.menu(user) }}
		<div id="left_col">
			{% block left %}{% endblock left%}
		</div>
		<div id="right_col">
			{% block right %}{% endblock right %}
		</div>
	</div>
  </body>
</html>