{% import 'macros/monster.html' as statblocks %}
{% extends 'base/two-column-base.html' %}

{% block title %}{{ monster.name }} | Dungeon World Codex{% endblock title %}

{% block left %}
	{{ statblocks.statblock(monster, format_urls, profile=profile) }}
{% endblock left %}
{% block right %}
	<p>Created by: <a href="{{ format_urls['profile'] | format(monster.creator.key().id()) | replace(" ", "") }}">{{monster.creator.display_name}}</a></p> 
	<p>{{ monster.get_license() }}</p>
	
    {% if monster.creator.account == user %}
        <h3>Manage</h3>
		<p><a href="{{ format_urls['monster.edit_url'] | format(monster.key().id()) | replace(" ", "") }}" class="action_button">Edit</a></p>
		<p><a href="{{ format_urls['monster.delete_url'] | format(monster.key().id()) | replace(" ", "") }}" class="action_button">Delete</a></p>		
    {% endif %}
{% endblock right%}


