{% macro menu(user=None, common_urls=None) -%}
	<div class="menu-container">
	<div style="width: 790px; margin:0 auto;">
	<ul class="menu">
	<li class="menuli"><a class="menulink" href="{{ common_urls['home_url'] }}">Codex</a></li>
	<li class="menuli"><a class="menulink" href="{{ common_urls['browse_url'] }}">Browse</a></li>
	<li class="menuli"><a class="menulink" href="{{ common_urls['create_url'] }}">Create</a></li>
	{% if user %}
	<li class="menuli"><a class="menulink" href="{{ common_urls['profile_url'] }}">My Profile</a></li>
	<li class="menuli"><a class="menulink" href="{{ common_urls['logout_url'] }}">Logout</a></li>
	{% else %}
	<li class="menuli"><a class="menulink" href="{{ common_urls['login_url'] }}">Login</a></li>
	{% endif %}
	<li class="menuli"><form action="{{ common_urls['search_url'] }}" style="float: right;"><input type='text' name='q' placeholder="Search" style='width: 120px; padding: 4px; outline: none; border: 2px solid #999999; border-radius: 5px;' /></form></li>
	</ul>
	</div>
	
	</div>
{%- endmacro %}