{% macro statblock(monster) -%}
	<table style='font: serif; width: 100%; border-top: 3px solid black; border-bottom: 3px solid black;'>
		<tr>
			<td style='font-weight: bold; font-variant: small-caps; font-size: larger;'><a style='text-decoration: none;' href="/view/{{ monster.key().id() }}">{{ monster.name }}</a></td>
			<td colspan='2' style='font-style: italic;'>{% for tag in monster.tags %}{{ tag }} {% endfor %}</td>
		</tr>
		<tr>
			<td>{{ monster.damage }}</td>
			<td>{{ monster.hp }} HP</td>
			<td>{{ monster.armor }} Armor</td>
		</tr>
		<tr>
			<td colspan='3' style='font-style: italic;'>{% for tag in monster.damage_tags %}{{ tag }} {% endfor %}</td>
		</tr>
		<tr>
			{% if monster.special_qualities %}<td colspan='3'><strong>Special Qualities:</strong> {% for specialquality  in monster.special_qualities %}{{specialquality}} {% endfor %}</td>{% endif %}
		</tr>
	</table>
	<p>{{ monster.description }} <em>Instinct</em>: {{ monster.instinct}}</p>
	<ul>{% for move in monster.moves %}<li>{{ move }}</li> {% endfor %}</ul>
{%- endmacro %}

{% macro form(monster) -%}
<form method="post">
	<table style='font: serif; width: 100%; border-top: 3px solid black; border-bottom: 3px solid black;'>
		<tr>
			<td style='font-weight: bold; font-variant: small-caps; font-size: larger;'>
				<input type="text" name="name" value="{{ monster.name }}"/></td>
			<td colspan='2' style='font-style: italic;'>
				{% for tag in monster.tags %}
					<input type="text" name="tag-{{ loop.index0 }}" value="{{ tag }}" />
				{% endfor %}
				{% set nextindex = monster.tags.__len__() %}
				<input type="text" name="tag-{{ nextindex }}" />
				{% set nextindex = nextindex + 1 %}
				<input type="text" name="tag-{{ nextindex }}" />
				{% set nextindex = nextindex + 1 %}
				<input type="text" name="tag-{{ nextindex }}" />
			</td>
		</tr>
		<tr>
			<td><input type="text" name="damage" value="{{ monster.damage }}" /></td>
			<td><input type="text" name="hp" value="{{ monster.hp }}" /> HP</td>
			<td><input type="text" name="armor" value="{{ monster.armor }}" /> Armor</td>
		</tr>
		<tr>
			<td colspan='3' style='font-style: italic;'>
				{% for tag in monster.damage_tags %}
					<input type="text" name="damagetag-{{ loop.index0 }}" value="{{ tag }}" />
				{% endfor %}
				{% set nextindex = monster.damagetags.__len__() %}
				<input type="text" name="damagetag-{{ nextindex }}" />
				{% set nextindex = nextindex + 1 %}
				<input type="text" name="damagetag-{{ nextindex }}" />
				{% set nextindex = nextindex + 1 %}
				<input type="text" name="damagetag-{{ nextindex }}" />
			</td>
		</tr>
		<tr>
			<td colspan='3'><strong>Special Qualities:</strong> {% for specialquality  in monster.special_qualities %}<input type="text" name="specialquality-{{ loop.index0 }}" value="{{specialquality}}" /> {% endfor %}
				{% set nextindex = monster.special_qualities.__len__() %}
				<input type="text" name="specialquality-{{ nextindex }}" />
				{% set nextindex = nextindex + 1 %}
				<input type="text" name="specialquality-{{ nextindex }}" />
				{% set nextindex = nextindex + 1 %}
				<input type="text" name="specialquality-{{ nextindex }}" />
			</td>
		</tr>
	</table>
	<textarea name="description" rows="10" cols="100">{{ monster.description }}</textarea> <p><em>Instinct</em>: <input type="text" name="instinct" value="{{ monster.instinct}}" /></p>
	<ul>
		{% for move in monster.moves %}
			<li><input type="text" name="move-{{ loop.index0 }}" value="{{ move }}"/></li>
		{% endfor %}
		{% set nextindex = monster.moves.__len__() %}
		<li><input type="text" name="move-{{ nextindex }}" /></li>
		{% set nextindex = nextindex + 1 %}
		<li><input type="text" name="move-{{ nextindex }}" /></li>
		{% set nextindex = nextindex + 1 %}
		<li><input type="text" name="move-{{ nextindex }}" /></li>
	</ul>
	<input type="submit" value="Save" />
</form>
{%- endmacro %}


