{% macro checkbox(name, value, text) -%}

{%- endmacro %}

{% macro radio(name, value, text, checked) -%}
<p><label><input type="radio" name="{{ name }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}/>{{ text }}</label></p>
{%- endmacro %}

{% macro RenderQuestion(question, context="", header="h3") -%}
<{{header}}>{{ question.prompt }}</{{header}}>
{% if question.description  %}
<p><em>{{ question.description }}</em></p>
{% endif %}
{% if question.expectsShortText  %}
    <input type="text" name="{% if context %}{{context}}{% endif %}{{ question.order }}" autocomplete="off" {% if question.required %}required{% endif %}/>
{% elif question.expectsOne %}
	{% for option in question.options.items() %}
		{% if question.required and loop.first %}
			{{ radio(question.order, loop.index0, option[0], True) }}
		{% else %}
			{{ radio(question.order, loop.index0, option[0], False) }}
		{% endif %}
		{% if option[1].subquestions %}
			{% set curoption = loop.index0 ~ ""%}
			{% for subquestion in option[1].subquestions.items() %}
				{% set inheritcontext = context ~ question.order ~ "." ~ curoption ~ "-" %}
				{{ RenderQuestion(subquestion[1], context=inheritcontext, header="p") }}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% elif question.expectsMultiple %}
	{% for option in question.options.items() %}
		{% set divid = question.order ~ "-" ~ loop.index0 %}
		<p><label><input type="checkbox" name="{{ question.order }}.{{ loop.index0 }}" value="1" onchange="$('#{{ divid }}').toggle('medium')"/>{{ option[0] }}</label></p>
		{% if option[1].subquestions %}
			{% set divid = question.order ~ "-" ~ loop.index0 %}
			<div id="{{ divid }}" style="display: none">
			{% set curoption = loop.index0 ~ ""%}
			{% for subquestion in option[1].subquestions.items() %}
				{% set inheritcontext = context ~ question.order ~ "." ~ curoption ~ "-" %}
				{{ RenderQuestion(subquestion[1], context=inheritcontext, header="p") }}
			{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% elif question.expectsLongText %}
	<textarea name="{{ question.order }}" rows="10" cols="100" ></textarea>
{% else %}
     <p>Invalid question type</p>
{% endif %}
{%- endmacro %}

{% macro render(questions, product=None) -%}
	<form name="input" method="post">
	    {% for question in questions %}
	        {{ RenderQuestion(question) }}
	    {% endfor %}
		{% if product %}
			<input type="hidden" name="product" value="{{ product.key().id() }}">
		{% endif %}
	    <input type="submit" value="Create" />
	</form>
{%- endmacro %}