{% extends 'base/two-column-base.html' %}

{% block title %}{{ product.name }} | Dungeon World Monster Maker{% endblock title %}

{% block left %}
		<h1><a href="{{ product.link }}">{{ product.name }}</a></h1>
		{% if profile.has_product(product) %}<p><em>You have access to this product.</em></p>{% endif %}
		{% if product.creator.account == user %}
			<p><a href="{{ common_urls['create_url']}}?product={{ product.key().id() }}">Add a monster to this product</a></p>
		{% endif %}
		<p>{{ product.description }}</p>
		{% if profile.has_product(product) %}
			<h3>In This Product</h3>
			<ul>
			{% for item in product.get_contents() %}
				<li><a href="{{ item.url() }}">{{ item.name }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
{% endblock left %}

{% block right %}

{% endblock right%}

