#wrap {
   width:900px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:600px;
}
#right_col {
   float:right;
   width:200px;
}

#main {
  width: 820px;
  margin:0 auto;
}

#left_col_equal {
   float:left;
   width:400px;
}
#right_col_equal {
   float:right;
   width:400px;
}

#one_col {
   margin:0 auto;
   width:600px;
}

a:link {color:#4d4d4d;}      /* unvisited link */
a:visited {color:#4d4d4d;}  /* visited link */
a:hover {color:#b2b2b2;}  /* mouse over link */
a:active {color:#b2b2b2;}

h1, h2, h3 {
	font-family:'Yanone Kaffeesatz',serif;
}

h1 {
  font-size: 40px;
  font-variant: small-caps;
}

h2 {
  font-size: 30px;
  font-variant: small-caps;
}

h3 {
	font-size: 23px;
	font-weight: 200;
}

body{
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 12px;
}

.centered-header {
	background: none;
	text-align: center;
	background: url(../../images/dotted.bg.png);
	line-height: 0;
}

.menu-container {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.menu {
	list-style-type:none;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}

.menuli {
  float: left;
	font-family:'Yanone Kaffeesatz',serif;
	font-size: 23px;
	font-weight: 400;
}

.menulink {
	display:block;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	color: black;
}

#up:hover{
    cursor: pointer;
}

#down:hover{
    cursor: pointer;
}

div.social_sharing .g-plusone, .fb-like, .twitter {
    font-size: 1px;
    display: inline-block;
}
.fb_reset {
    display: inline;
}

input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	font-family:'Yanone Kaffeesatz',serif;
	text-transform:uppercase;
}input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}input[type="submit"]:active {
	position:relative;
	top:1px;
}


.vote_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width: 17px;
	text-align: center;
	cursor: pointer;
}.vote_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}.vote_button:active {
	position:relative;
	top:1px;
}


.upvoted_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
	width: 17px;
	text-align: center;
	cursor: pointer;
}.upvoted_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.upvoted_button:active {
	position:relative;
	top:1px;
}


.downvoted_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #98231a;
	width: 17px;
	text-align: center;
	cursor: pointer;
}.downvoted_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
}.downvoted_button:active {
	position:relative;
	top:1px;
}

.action_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	text-align: center;
	cursor: pointer;
}.vote_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}.vote_button:active {
	position:relative;
	top:1px;
}

.monster_box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 4px 0px;
  padding: 20px;
}

.monster_follow {
  -webkit-box-shadow: rgba(101, 101, 101, 0.0980392) 0px 1px 0px 0px;
  background-color: rgb(248, 248, 248);
  border-bottom-color: rgb(213, 213, 213);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(213, 213, 213);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(213, 213, 213);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(213, 213, 213);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(101, 101, 101, 0.0980392) 0px 1px 0px 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 0px;
  height: 27px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
}

/**
 * Grid items
 */
.monster_li {
width: 400px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
padding: 4px;
}
