{% import 'header.html' as header %}
{% import 'menu.html' as mainmenu %}

{% macro checkbox(name, value, text) -%}
<p><input type="checkbox" name="{{ name }}.{{ value }}" value="1" />{{ text }}</p>
{%- endmacro %}

{% macro radio(name, value, text) -%}
<p><input type="radio" name="{{ name }}" value="{{ value }}" />{{ text }}</p>
{%- endmacro %}

{% macro RenderQuestion(question, context="", header="h3") -%}
<{{header}}>{{ question.prompt }}</{{header}}>
{% if question.expectsShortText  %}
    <input type="text" name="{% if context %}{{context}}{% endif %}{{ question.order }}" />
{% elif question.expectsOne %}
	{% for option in question.options.items() %}
		{{ radio(question.order, loop.index0, option[0]) }}
		{% if option[1].subquestions %}
			<div style="display: none;">
			{% set curoption = loop.index0 ~ ""%}
			{% for subquestion in option[1].subquestions.items() %}
				{% set inheritcontext = context ~ question.order ~ "." ~ curoption ~ "-" %}
				{{ RenderQuestion(subquestion[1], context=inheritcontext, header="p") }}
			{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% elif question.expectsMultiple %}
	{% for option in question.options.items() %}
		{{ checkbox(question.order, loop.index0, option[0]) }}
		{% if option[1].subquestions %}
			{% set curoption = loop.index0 ~ ""%}
			{% for subquestion in option[1].subquestions.items() %}
				{% set inheritcontext = context ~ question.order ~ "." ~ curoption ~ "-" %}
				{{ RenderQuestion(subquestion[1], context=inheritcontext, header="p") }}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% elif question.expectsLongText %}
	<textarea name="{{ question.order }}" rows="10" cols="100" ></textarea>
{% else %}
     <p>Invalid question type</p>
{% endif %}
{%- endmacro %}

<html>
  <head>
    <title>Dungeon World Monster Maker</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
	{{ header.header() }}
	<div style="width:800px; margin:0 auto;">
	    {{ mainmenu.menu() }}
	    <form name="input" method="post">
		    {% for question in questions %}
		        {{ RenderQuestion(question) }}
		        
		    {% endfor %}
		    <input type="submit" value="Create" />
	    </form>
	</div>
  </body>
</html>
