{% import 'macros/errors.html' as errors %}
{% extends 'base/two-column-base.html' %}

{% block title %}Dungeon World Monster Maker{% endblock title %}
{% block left %}
	{% if error %}
		{{ errors.error(error) }}
	{% else %}
		<h1>Delete Succeded</h1>
		<p>It's not pining! It's passed on! This entry is no more! It has ceased to be! It's expired and gone to meet It's maker! It's a stiff! Bereft of life, it rests in peace! If you hadn't nailed it to the perch it'd be pushing up the daisies! It's metabolic processes are now history! It's off the twig! It's kicked the bucket, it's shuffled off it's mortal coil, run down the curtain and joined the bleedin' choir invisibile! <strong>This is an ex-entry!</strong></p>
	{% endif %}
{% endblock left %}