{% import 'macros/monster.html' as statblocks %}
{% extends 'base/split-column-base.html' %}
{% block title %}Dungeon World Codex{% endblock title %}
{% block left %}
	<h1>Popular Monsters</h1>
    {% for monster in popular_monsters %}
		{{ statblocks.statblock(monster, format_urls, profile=profile) }}
    {% endfor %}
{% endblock left %}
{% block right %}
	<h1>Recent Monsters</h1>
    {% for monster in recent_monsters %}
		{{ statblocks.statblock(monster, format_urls, profile=profile) }}
    {% endfor %}
{% endblock right %}

