{% extends 'base/two-column-base.html' %}
{% block title %}Edit Profile—Dungeon World Monster Maker{% endblock title %}
{% block left %}
	{% if not profile %}
		<h1>Welcome!</h1>
		<p>It looks like you're new here. Let's setup a profile for you.</p>
	{% endif %}
		<form method="post">
			<h3>Display Name: <input name="display_name" required type="text" value="{% if profile %}{{ profile.display_name }}{% endif %}" /></h3>
			<p>This is the name what will be shown on monsters you create.</p>
			<input type="submit" value="Save">
		</form>
{% endblock left %}