{% import 'macros/monster.html' as statblocks %}
{% import 'macros/errors.html' as errors %}
{% extends 'base/two-column-base.html' %}

{% block title %}Dungeon World Monster Maker{% endblock title %}

{% block left %}
		{% if viewed_profile == profile %}
			<h1>My Most Recent Monsters</h1>
		{% else %}
			<h1>Most Recent Monsters by {{ viewed_profile.display_name }}</h1>
		{% endif %}
	    {% for monster in monsters %}
			{{ statblocks.statblock(monster) }}
	    {% endfor %}
		{% if viewed_profile == profile %}
			<h1>My Recent Favorites</h1>
			{% for favorite in favorites %}
				{{ statblocks.statblock(favorite.monster) }}
		    {% endfor %}
		{% endif %}
{% endblock left %}

{% block right %}
	{% if viewed_profile == profile %}

	    <h3 style="display:inline">My Profile</h3></td>
	    <p style="display:inline">—<a href="/profile/edit">Edit</a></p>

		<hr />
		<p>Display Name: {{ profile.display_name }}</p>
		<p>Email: {{ user.email() }}</p>
	{% endif %}
{% endblock right%}

