{% import 'macros/monster.html' as statblocks %}
{% extends 'base/two-column-base.html' %}
{% block title %}Search | Dungeon World Codex{% endblock title %}
{% block left %}
	{% if results %}
		{% if results is iterable %}
			<h1>Results</h1>
		    {% for monster in results %}
				{{ statblocks.statblock(monster, format_urls) }}
		    {% endfor %}
		{% else %}
			<h1>No matches</h1>
		{% endif %}
	{% else %}
		<h1>What are you looking for?</h1>
		<form method="get">
			<input type='text' name='q' placeholder="Search" style='width: 400px; padding: 5px; outline: none; border: 2px solid #999999; border-radius: 5px;' /><input type="submit" value="Search">
		</form>
	{% endif %}
{% endblock left %}

