{% import 'macros/monster.html' as statblocks %}
{% extends 'base/two-column-base.html' %}

{% block title %}{{ monster.name }}—Dungeon World Monster Maker{% endblock title %}
{% block left %}
	{{ statblocks.statblock(monster) }}
	<p>Created by: <a href="/profile/{{ monster.creator.key().id() }}">{{monster.creator.display_name}}</a></p>
	{% if monster.edited %}<p><strong>Edited:</strong> This monster has been edited. Its probably still cool, but its stats may not line up with standard monsters.</p>{% endif %}
{% endblock left %}
{% block right %}
    {% if monster.creator.account == user %}
        <h3>Manage</h3>
		<p><a href="/edit/{{ monster.key().id() }}">Edit</a></p>
		<p><a href="/delete/{{ monster.key().id() }}">Delete</a></p>
    {% endif %}
{% endblock right%}
