{% import 'macros/monster.html' as statblocks %}
{% extends 'base/two-column-base.html' %}

{% block title %}{{ monster.name }}—Dungeon World Monster Maker{% endblock title %}
{% block left %}
	{{ statblocks.statblock(monster) }}
	<p>Created by: <a href="/profile/{{ monster.creator.key().id() }}">{{monster.creator.display_name}}</a></p>
	{% if monster.edited %}<p><strong>Edited:</strong> This monster has been edited. Its probably still cool, but its stats may not line up with standard monsters.</p>{% endif %}
{% endblock left %}
{% block right %}
    {% if monster.creator.account == user %}
        <h3>Manage</h3>
		<p><a href="/monster/{{ monster.key().id() }}/edit">Edit</a></p>
		<p><a href="/monster/{{ monster.key().id() }}/delete">Delete</a></p>
	{% else %}
		{% if profile %}
		<!-- jQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/jquery.rest.js"></script>

		<script>
			function vote() {
			  	$.ajax({
				    url: '/monster/{{ monster.key().id() }}/vote',
				    type: 'GET',
				    success: function() { 
						if($("#star").text() == "✭"){
							$("#star").text("✩");
						}else{
							$("#star").text("✭");
						}
					}
				});
			}
		</script>
		
		<p style="font-size:400%; cursor: pointer; margin:0; float:left" onclick="vote()" id='star'>{% if vote %}✭{% else %}✩{% endif %}</p>
		<h3>Like it? Star it</h3>
		{% endif %}
    {% endif %}
{% endblock right%}


